{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit User Account</h3></div>
                                <div class="card-body">
                                    <div class="row mb-3">
                                        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                                    </div>
                                    <div class="sb-sidenav-menu-heading text-center justify-content-center">{{ include('user/_delete_form.html.twig') }}</div>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"> - </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; TICKETING 2023</div>
                        <div>
                            <a href=" {{ path('privacy') }} ">Privacy Policy</a>
                            &middot;
                            <a href=" {{ path('conditionEtTerme') }} ">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

{% endblock %}
